# TFM: MAPA DE PELIGROSIDAD

### Nuestro modelo es supervisado ya que tiene una variable objetivo y predecir un valor futuro. 
Modelo de clasificación: Multiclase, tenemos varias.
# PREPROCESADO

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dataset = pd.read_csv(r"C:\Users\Brigitte\Documents\master\tfm_dataset\datasets_unificados.csv")

In [10]:
pd.set_option('display.max_columns', None)
#Tipos de variables
print(dataset.info())
print(dataset.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3912398 entries, 0 to 3912397
Data columns (total 55 columns):
 #   Column                            Dtype
---  ------                            -----
 0   Zip Code                          float64
 1   Total                             float64
 2   Sin Educacion Basica Obligatoria  float64
 3   Educacion Basica Obligatoria      float64
 4   Educacion Media Superior          float64
 5   Educacion Superior                float64
 6   Master o Doctorado                float64
 7   Estimated Median Income           float64
 8   Salario_bajo                      float64
 9   Salario_medio                     float64
 10  Salario_alto                      float64
 11  Nivel Pobreza                     float64
 12  AREA NAME                         object
 13  Tasa Desempleo 2021               float64
 14  Temp Min                          float64
 15  Temp Max                          float64
 16  Lluvia Ene                        object
 17  Lluvia Feb                        object
 18  Lluvia Mar                        object
 19  Lluvia Abr                        object
 20  Lluvia May                        object
 21  Lluvia Jun                        object
 22  Lluvia Jul                        object
 23  Lluvia Ago                        object
 24  Lluvia Sep                        object
 25  Lluvia Oct                        object
 26  Lluvia Nov                        object
 27  Lluvia Dec                        object
 28  DR_NO                             float64
 29  Date Rptd                         object
 30  DATE OCC                          datetime64[ns]
 31  TIME OCC                          object
 32  AREA                              float64
 33  Rpt Dist No                       float64
 34  Part 1-2                          float64
 35  Crm Cd                            float64
 36  Crm Cd Desc                       object
 37  Mocodes                           object
 38  Vict Age                          float64
 39  Vict Sex                          object
 40  Vict Descent                      object
 41  Premis Cd                         float64
 42  Premis Desc                       object
 43  Weapon Used Cd                    float64
 44  Weapon Desc                       object
 45  Status                            object
 46  Status Desc                       object
 47  Crm Cd 1                          float64
 48  Crm Cd 2                          float64
 49  Crm Cd 3                          float64
 50  Crm Cd 4                          float64
 51  LOCATION                          object
 52  Cross Street                      object
 53  LAT                               float64
 54  LON                               float64
dtypes: datetime64[ns](1), float64(29), object(25)
memory usage: 1.6+ GB
None
   Zip Code    Total  Sin Educacion Basica Obligatoria  \
0   90001.0  34392.0                          0.141952
1   90001.0  34392.0                          0.141952
2   90001.0  34392.0                          0.141952
3   90001.0  34392.0                          0.141952
4   90001.0  34392.0                          0.141952

   Educacion Basica Obligatoria  Educacion Media Superior  Educacion Superior  \
0                      0.356071                  0.389189            0.101913
1                      0.356071                  0.389189            0.101913
2                      0.356071                  0.389189            0.101913
3                      0.356071                  0.389189            0.101913
4                      0.356071                  0.389189            0.101913

   Master o Doctorado  Estimated Median Income  Salario_bajo  Salario_medio  \
0            0.010875                  52806.0           0.0            1.0
1            0.010875                  52806.0           0.0            1.0
2            0.010875                  52806.0           0.0            1.0
3            0.010875                  52806.0           0.0            1.0
4            0.010875                  52806.0           0.0            1.0

   Salario_alto  Nivel Pobreza AREA NAME  Tasa Desempleo 2021  Temp Min  \
0           0.0           22.0   Central             0.068531      57.5
1           0.0           22.0   Central             0.068531      57.5
2           0.0           22.0   Central             0.068531      57.5
3           0.0           22.0   Central             0.068531      57.5
4           0.0           22.0   Central             0.068531      57.5

   Temp Max Lluvia Ene Lluvia Feb Lluvia Mar Lluvia Abr Lluvia May Lluvia Jun  \
0      74.0     Ligera     Ligera     Ligera     Ligera     Ligera     Fuerte
1      74.0     Ligera     Ligera     Ligera     Ligera     Ligera     Fuerte
2      74.0     Ligera     Ligera     Ligera     Ligera     Ligera     Fuerte
3      74.0     Ligera     Ligera     Ligera     Ligera     Ligera     Fuerte
4      74.0     Ligera     Ligera     Ligera     Ligera     Ligera     Fuerte

  Lluvia Jul Lluvia Ago Lluvia Sep Lluvia Oct Lluvia Nov Lluvia Dec  \
0     Fuerte     Ligera     Ligera     Ligera     Ligera     Ligera
1     Fuerte     Ligera     Ligera     Ligera     Ligera     Ligera
2     Fuerte     Ligera     Ligera     Ligera     Ligera     Ligera
3     Fuerte     Ligera     Ligera     Ligera     Ligera     Ligera
4     Fuerte     Ligera     Ligera     Ligera     Ligera     Ligera

         DR_NO               Date Rptd   DATE OCC  TIME OCC  AREA  \
0  190101086.0  01/02/2020 12:00:00 AM 2020-01-01  00:00:00   1.0
1  200110444.0  04/14/2020 12:00:00 AM 2020-02-13  00:00:00   1.0
2  200100501.0  01/02/2020 12:00:00 AM 2020-01-01  00:00:00   1.0
3  200100502.0  01/02/2020 12:00:00 AM 2020-01-02  00:00:00   1.0
4  200100504.0  01/04/2020 12:00:00 AM 2020-01-04  00:00:00   1.0

   Rpt Dist No  Part 1-2  Crm Cd                                Crm Cd Desc  \
0        163.0       2.0   624.0                   BATTERY - SIMPLE ASSAULT
1        155.0       2.0   845.0  SEX OFFENDER REGISTRANT OUT OF COMPLIANCE
2        163.0       1.0   121.0                             RAPE, FORCIBLE
3        161.0       1.0   442.0   SHOPLIFTING - PETTY THEFT ($950 & UNDER)
4        155.0       2.0   946.0                  OTHER MISCELLANEOUS CRIME

               Mocodes  Vict Age Vict Sex Vict Descent  Premis Cd  \
0       0416 1822 1414      25.0        M            H      102.0
1                 1501       0.0        X            X      726.0
2  0413 1822 1262 1415      25.0        F            H      735.0
3  1402 2004 0344 0387      23.0        M            H      404.0
4            1402 0392       0.0        X            X      726.0

                       Premis Desc  Weapon Used Cd  \
0                         SIDEWALK           500.0
1                  POLICE FACILITY             NaN
2  NIGHT CLUB (OPEN EVENINGS ONLY)           500.0
3                 DEPARTMENT STORE             NaN
4                  POLICE FACILITY             NaN

                   Weapon Desc Status   Status Desc  Crm Cd 1  Crm Cd 2  \
0  UNKNOWN WEAPON/OTHER WEAPON     IC   Invest Cont     624.0       NaN
1                          NaN     AA  Adult Arrest     845.0       NaN
2  UNKNOWN WEAPON/OTHER WEAPON     IC   Invest Cont     121.0     998.0
3                          NaN     IC   Invest Cont     442.0     998.0
4                          NaN     IC   Invest Cont     946.0     998.0

   Crm Cd 3  Crm Cd 4                                LOCATION Cross Street  \
0       NaN       NaN  700 S  HILL                         ST          NaN
1       NaN       NaN  200 E  6TH                          ST          NaN
2       NaN       NaN                         700 S  BROADWAY          NaN
3       NaN       NaN  700 S  FIGUEROA                     ST          NaN
4       NaN       NaN  200 E  6TH                          ST          NaN

       LAT       LON
0  34.0459 -118.2545
1  34.0448 -118.2474
2  34.0452 -118.2534
3  34.0483 -118.2631
4  34.0448 -118.2474

# Una vez hemos analizado las variables vemos que:
 **DR_NO** son códigos los cuales no nos aportan nueva información, ***se podría eliminar. 
 **Date Rptd** time when the crime reported df[time_field], esto no nos interesa así que *****podemos eliminarla
 **DATE OCC** time when the crime occurred time_field +++Tenmos que modificar el tipo de variable a data.
 **Rpt Dist No No sabemos muy bien que es, tenemos que seguir investigando. **
 Part 1-2 Podria tratarse de mañana o tarde, lo comprobaremos. Si no es así la eliminaremos.**** 
 **Crm Cd** En esta variable están los códigos de los delitos. **Crm Cd Desc**  esta su descrippción.
 **Mocodes**, es un código que nos da datos sobre el sospechoso. No, nos interesaría para nuestro caso de estudio. 
 **Vict Age** vamos hacer un rango de edad con esta variable y así personalizar más la aplicación al usuario. 
 **Vict Sex** Hay cinco variables, tenemos que estudiarlas para ver de que elementos se compone. 
** Vict Descent** Tendriamos que ordenarlo de una mejor forma o analizarlo.
 **Premis Cd, Premis Desc** nos dice dónde habia ocurrido el delito, consultar si nos interesa dejarlo o no. ****Eliminarlo
 **Weapon Used Cd y Weapon Desc** Es la arma usada. consultar si nos interesa dejarlo o no. *******
 **Status y Status Desc** Estado del caso. Dejamos solo la descripción. *******Eliminarlo
 **Crm Cd 1,2,3,4 investigar**
 **LOCATION y Cross Street.** Dirección aprox. del delito. ******Eliminarlo
 **LAT y LON.** Long y altitud. Si es muy importante.

In [6]:
#Valores únicos
print(dataset.nunique())

Zip Code                                92
Total                                   63
Sin Educacion Basica Obligatoria        61
Educacion Basica Obligatoria            62
Educacion Media Superior                62
Educacion Superior                      62
Master o Doctorado                      62
Estimated Median Income                 62
Salario_bajo                             2
Salario_medio                            2
Salario_alto                             2
Nivel Pobreza                           30
AREA NAME                               13
Tasa Desempleo 2021                     59
Temp Min                                 6
Temp Max                                12
Lluvia Ene                               2
Lluvia Feb                               2
Lluvia Mar                               2
Lluvia Abr                               2
Lluvia May                               2
Lluvia Jun                               3
Lluvia Jul                               1
Lluvia Ago                               3
Lluvia Sep                               2
Lluvia Oct                               2
Lluvia Nov                               2
Lluvia Dec                               2
DR_NO                               516467
Date Rptd                             1308
DATE OCC                              1308
TIME OCC                              1439
AREA                                    13
Rpt Dist No                            712
Part 1-2                                 2
Crm Cd                                 137
Crm Cd Desc                            137
Mocodes                             190272
Vict Age                               103
Vict Sex                                 5
Vict Descent                            20
Premis Cd                              290
Premis Desc                            284
Weapon Used Cd                          78
Weapon Desc                             78
Status                                   6
Status Desc                              6
Crm Cd 1                               138
Crm Cd 2                               111
Crm Cd 3                                32
Crm Cd 4                                 6
LOCATION                             35341
Cross Street                          6618
LAT                                   2499
LON                                   3745
dtype: int64

#### Modificamos las variables que tendrian que estar en fecha a fecha y hora.

In [7]:
#Fecha como datetime
dataset['DATE OCC'] = pd.to_datetime(dataset['DATE OCC'])
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3912398 entries, 0 to 3912397
Data columns (total 55 columns):
 #   Column                            Dtype
---  ------                            -----
 0   Zip Code                          float64
 1   Total                             float64
 2   Sin Educacion Basica Obligatoria  float64
 3   Educacion Basica Obligatoria      float64
 4   Educacion Media Superior          float64
 5   Educacion Superior                float64
 6   Master o Doctorado                float64
 7   Estimated Median Income           float64
 8   Salario_bajo                      float64
 9   Salario_medio                     float64
 10  Salario_alto                      float64
 11  Nivel Pobreza                     float64
 12  AREA NAME                         object
 13  Tasa Desempleo 2021               float64
 14  Temp Min                          float64
 15  Temp Max                          float64
 16  Lluvia Ene                        object
 17  Lluvia Feb                        object
 18  Lluvia Mar                        object
 19  Lluvia Abr                        object
 20  Lluvia May                        object
 21  Lluvia Jun                        object
 22  Lluvia Jul                        object
 23  Lluvia Ago                        object
 24  Lluvia Sep                        object
 25  Lluvia Oct                        object
 26  Lluvia Nov                        object
 27  Lluvia Dec                        object
 28  DR_NO                             float64
 29  Date Rptd                         object
 30  DATE OCC                          datetime64[ns]
 31  TIME OCC                          float64
 32  AREA                              float64
 33  Rpt Dist No                       float64
 34  Part 1-2                          float64
 35  Crm Cd                            float64
 36  Crm Cd Desc                       object
 37  Mocodes                           object
 38  Vict Age                          float64
 39  Vict Sex                          object
 40  Vict Descent                      object
 41  Premis Cd                         float64
 42  Premis Desc                       object
 43  Weapon Used Cd                    float64
 44  Weapon Desc                       object
 45  Status                            object
 46  Status Desc                       object
 47  Crm Cd 1                          float64
 48  Crm Cd 2                          float64
 49  Crm Cd 3                          float64
 50  Crm Cd 4                          float64
 51  LOCATION                          object
 52  Cross Street                      object
 53  LAT                               float64
 54  LON                               float64
dtypes: datetime64[ns](1), float64(30), object(24)
memory usage: 1.6+ GB

In [8]:
#Hora como bject no se porque...?
from datetime import datetime, timedelta
dataset['TIME OCC'] = dataset['TIME OCC'].apply(lambda x: (datetime.min ).time())
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3912398 entries, 0 to 3912397
Data columns (total 55 columns):
 #   Column                            Dtype
---  ------                            -----
 0   Zip Code                          float64
 1   Total                             float64
 2   Sin Educacion Basica Obligatoria  float64
 3   Educacion Basica Obligatoria      float64
 4   Educacion Media Superior          float64
 5   Educacion Superior                float64
 6   Master o Doctorado                float64
 7   Estimated Median Income           float64
 8   Salario_bajo                      float64
 9   Salario_medio                     float64
 10  Salario_alto                      float64
 11  Nivel Pobreza                     float64
 12  AREA NAME                         object
 13  Tasa Desempleo 2021               float64
 14  Temp Min                          float64
 15  Temp Max                          float64
 16  Lluvia Ene                        object
 17  Lluvia Feb                        object
 18  Lluvia Mar                        object
 19  Lluvia Abr                        object
 20  Lluvia May                        object
 21  Lluvia Jun                        object
 22  Lluvia Jul                        object
 23  Lluvia Ago                        object
 24  Lluvia Sep                        object
 25  Lluvia Oct                        object
 26  Lluvia Nov                        object
 27  Lluvia Dec                        object
 28  DR_NO                             float64
 29  Date Rptd                         object
 30  DATE OCC                          datetime64[ns]
 31  TIME OCC                          object
 32  AREA                              float64
 33  Rpt Dist No                       float64
 34  Part 1-2                          float64
 35  Crm Cd                            float64
 36  Crm Cd Desc                       object
 37  Mocodes                           object
 38  Vict Age                          float64
 39  Vict Sex                          object
 40  Vict Descent                      object
 41  Premis Cd                         float64
 42  Premis Desc                       object
 43  Weapon Used Cd                    float64
 44  Weapon Desc                       object
 45  Status                            object
 46  Status Desc                       object
 47  Crm Cd 1                          float64
 48  Crm Cd 2                          float64
 49  Crm Cd 3                          float64
 50  Crm Cd 4                          float64
 51  LOCATION                          object
 52  Cross Street                      object
 53  LAT                               float64
 54  LON                               float64
dtypes: datetime64[ns](1), float64(29), object(25)
memory usage: 1.6+ GB

#### Para tener un mejor conocimiento del dataset podemos analizar los descriptivos

In [ ]:
dataset.describe()

De esta aproximación podemos concluir las siguientes observaciones:
- edad de 120 max

## Examinamos las posibles variables categóricas (con menos de 10 valores únicos)

Estas variables son:
- Vict Sex
- Part 1-2
- Status
- Status Desc
- Crdm cd 4

Empezamos estudaindo la variable Vict Sex

In [ ]:
for valor in dataset['Vict Sex'].unique():
    print(valor)

En una primera aproximación de los datos podemos observar que tenemos 3 variables a examinar:
- La variable Crdm cd, la cual indica del 1 al 4 el nivel de peligrosidad de los datos, la cual podriamos fusionar, de alguna manera.
- La variable vict sex tiene 5 valores distintos por lo que deberemos examinar cuales son y por que, ya que solo debería tener dos, hombre y mujer.

In [ ]:
contador = dataset['Vict Sex'].value_counts()['H']
contador

In [ ]:
dataset.shape

In [ ]:
contador = dataset['Vict Sex'].value_counts()
contador

In [ ]:
contador = dataset['Vict Sex'].isnull().sum()
contador

In [ ]:
# Número de valores distintos por variable
dataset1 = dataset[dataset['Vict Sex'] != 'H']
dataset1.info()

In [ ]:
for valor in dataset1['Vict Sex'].unique():
    print(valor)

In [ ]:
dataset2 = dataset1[dataset1['Vict Sex'] != '-']
dataset2.info()

In [ ]:
for valor in dataset2['Vict Sex'].unique():
    print(valor)

In [ ]:
contador = dataset2['Vict Sex'].isnull().sum()
contador

In [ ]:
contador = dataset2['Vict Sex'].value_counts()
contador

In [ ]:
import plotly.express as px
# Histograma de calificación del productor
fig = px.histogram(dataset2, x="Vict Sex") 
fig.show()

Hemos eliminado los valores H y - ya que su represenatción era mínima, sin embargo, en el caso de X deberemos determinar si está variable será determinante. Pensamos que puede ser interesante dejar este valor porque actualmente el valor 'otros' es visulizado.

In [ ]:
sns.violinplot(x='Vict Sex', y='Vict Age', data=dataset2, palette='viridis')

2. Estudiamos la variable Status y Status Desc

hacer rangos de edad

In [ ]:
for valor in dataset2['Status'].unique():
    print(valor)

In [ ]:
for valor in dataset2['Status Desc'].unique():
    print(valor)

In [ ]:
contador = dataset2['Status'].value_counts()
contador

In [ ]:
contador = dataset2['Status Desc'].value_counts()
contador

Podemos observar que:
- Las dos variables tienen exactamente los mismos valores y el mismo número, por lo tanto, se trata de la misma variable
- Los valores Unknown representan un pocentaje insignificante y podrán ser eliminados

In [ ]:
dataset2 = dataset1[dataset1['Status Desc'] != 'UNK']
dataset2.info()

In [ ]:
dataset3 = dataset2.drop(['Status'],axis=1)

In [ ]:
import plotly.express as px
# Histograma de calificación del productor
fig = px.histogram(dataset3, x="Status Desc") 
fig.show()

3. Part 1-2:

In [ ]:
for valor in dataset2['Part 1-2'].unique():
    print(valor)

In [ ]:
# Calcula la matriz de correlación
correlation_matrix = dataset3.corr()

# Crea un mapa de correlación utilizando Seaborn
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', center=0)
plt.title('Mapa de Correlación')
plt.show()

In [ ]:
for valor in dataset2['Crm Cd'].unique():
    print(valor)

¿eliminamos crm cd y part 1-2?

## Pasar a factor

In [ ]:
# Lista de columnas con menos de 10 valores distintos. Potenciales factores!
dataset3['Vict Sex'] = dataset3['Vict Sex'].astype('category')
dataset3['Status Desc'] = dataset3['Status Desc'].astype('category')

In [ ]:
dataset3.info()
dataset3.describe()

In [ ]:
dataset3.describe(exclude=np.number)

In [ ]:
for valor in dataset2['Premis Desc'].unique():
    print(valor)

### Creamos los rangos de edad:

In [ ]:
## AGE (realizamos una variable con 3 rangos de edad y 3 variables con esos mismos rangos)
dataset3['Niño'] = dataset3['Vict Age'].apply(lambda x: 1 if x<=12 else 0)
dataset3['Joven'] = dataset3['Vict Age'].apply(lambda x: 1 if x>12 and x<=26 else 0)
dataset3['Adulto'] = dataset3['Vict Age'].apply(lambda x: 1 if x>26 and x<60 else 0)
dataset3['Mayor de 60'] = dataset3['Vict Age'].apply(lambda x: 1 if x>=60 else 0)
# dataset3['Mayor de 60'] = dataset3['Vict Age'].apply(lambda x: 0 if x<=35 else (1 if x>35 and x<60 else(2)))

In [ ]:
pd.set_option('display.max_columns', None)

dataset3.head()

### Valores atípicos

In [ ]:
dataset3.select_dtypes(include=np.number).apply(lambda x: x.skew())

In [ ]:
dataset3[['Crm Cd 4']].nunique()

In [ ]:
dataset['Crm Cd 1'].isnull().sum()

In [ ]:
dataset3['Crm Cd'].isnull().sum()

In [ ]:
print(dataset3['Crm Cd 1'].value_counts(),
dataset3['Crm Cd 2'].value_counts(),
dataset3['Crm Cd 3'].value_counts(),
dataset3['Crm Cd 4'].value_counts())

In [ ]:
dataset_prueba= dataset3[['Crm Cd','Crm Cd Desc']]
dataset_prueba

In [ ]:
dataset_ordenado = dataset_prueba.sort_values(by='Crm Cd', ascending=True)

In [ ]:
dataset_ordenado

In [ ]:
dataset_sin_duplicados = dataset_ordenado.drop_duplicates(subset=['Crm Cd'])

In [ ]:
dataset_sin_duplicados.shape

In [ ]:
pd.set_option('display.max_rows', None)
dataset_sin_duplicados

In [ ]:
dataset3['Crm Cd 1'].info()

In [ ]:
dataset3.describe()

In [ ]:
# Convertir las columnas en conjuntos y encontrar los valores distintos
valores_distintos_col1 = set(dataset['Crm Cd'])
valores_distintos_col2 = set(dataset['Crm Cd 1'])

# Encontrar los valores distintos entre las dos columnas
valores_distintos = valores_distintos_col1.symmetric_difference(valores_distintos_col2)

print("Valores distintos entre las columnas:", valores_distintos)

In [ ]:
dataset['Crm Cd 1'].value_counts()[521]

In [ ]:
dataset['Crm Cd 1'].value_counts()[430]

In [ ]:
prueba2 = dataset3.drop_duplicates(subset=['Crm Cd'])

In [ ]:
prueba1= dataset3.drop_duplicates(subset=['Crm Cd 2'])

In [ ]:
prueba1.shape

In [ ]:
# Verificar los valores únicos en 'Crm Cd 2'
crm_cd_2_unique = dataset3['Crm Cd 2'].unique()

# Verificar los valores únicos en 'Crm Cd'
crm_cd_unique = dataset3['Crm Cd'].unique()

# Encontrar los valores en 'Crm Cd 2' que no están en 'Crm Cd'
valores_no_en_crm_cd = [valor for valor in crm_cd_2_unique if valor not in crm_cd_unique]

# Imprimir los valores que no están en 'Crm Cd'
print("Valores en 'Crm Cd 2' que no están en 'Crm Cd':")
print(valores_no_en_crm_cd)

In [ ]:
prueba2.shape

In [ ]:
dataset3['Crm Cd 2'].value_counts()[521.0]

In [ ]:
dataset_sin_duplicados

In [ ]:
# Convertir las columnas en conjuntos y encontrar los valores distintos
valores_distintos_col3 = set(prueba1)
valores_distintos_col4 = set(prueba2)


# Encontrar los valores distintos entre las dos columnas
valores_distintos = valores_distintos_col3.symmetric_difference(valores_distintos_col4)

print("Valores distintos entre las columnas:", valores_distintos)

In [ ]:
dataset3.describe()

In [ ]:
dataset3.count()
#dataset3['Crm Cd 2'].value_counts()

In [ ]:
# FUNCIÓN PARA ASIGNAR EL NIVEL DE GRAVEDAD DE LOS DELITOS. 1 infracción 5 muy muy grave.

def asignar_gravedad(valor):
    if valor in [110, 121, 235, 900, 907, 921, 860, 822, 910, 920]:
        return 5
    elif valor in [113, 122, 210, 220, 230, 231,236, 237, 250, 251, 354, 433, 434, 940, 942, 944,
                                           954, 956, 470, 473, 870, 845, 840, 820, 815, 814, 626, 627, 648, 805, 762, 761,
                                         760, 756, 755]:
        return 4
    elif valor in [310,330, 331, 341, 343, 345, 347, 349, 410, 420, 421, 901, 902, 435, 
                                                 903, 436, 904, 931, 943, 446, 350, 450, 946, 948, 949, 950, 951, 475, 622,
                                                865, 830, 821, 625, 624, 647, 810, 649, 763, 661, 662, 668, 740]:
        return 3
    elif valor in [320, 351, 352, 353, 432, 437, 438, 906, 924, 928, 930, 439, 932, 440, 441, 442, 
                                          443, 444, 445, 451, 452, 471,474, 480, 485, 890, 888, 487, 510, 520, 522, 882, 623,
                                          880, 850, 651, 653, 652, 654, 660, 664, 666, 670, 753, 745, 922]:
        return 2
    elif valor in [933, 886, 884, 813, 812, 806]:
        return 1
    else:
        return 0
    
dataset3['nivel_gravedad'] = dataset3['Crm Cd'].apply(asignar_gravedad)

In [ ]:
dataset3["nivel_gravedad"].value_counts()

In [ ]:
nivel_gravedad_0 = dataset3[dataset3['nivel_gravedad']==0]
valores_Crm_Cd = nivel_gravedad_0['Crm Cd']
valores_Crm_Cd.unique()
#print(valores_Crm_Cd)

In [ ]:
dataset3.head(10)

In [ ]:
dataset3["nivel_gravedad"].info()

In [ ]:
columnas_a_eliminar = ['Crm Cd 1', 'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4' ]

# Eliminar las columnas especificadas
dataset3 = dataset3.drop(columns=columnas_a_eliminar)
dataset3.head(10)

In [ ]:
# Calcular el coeficiente de correlación
correlacion = dataset3['Part 1-2'].corr(dataset3['nivel_gravedad'])

print(f"Coeficiente de correlación: {correlacion}")

In [ ]:
# La correlación que nos da entre parte 1 o 2 y los diferentes niveles de gravedad es muy baja o incluso negativa. 
correlacion = (dataset3['Part 1-2']==1).corr(dataset3['nivel_gravedad']==5)

print(f"Coeficiente de correlación: {correlacion}")

In [ ]:
#Eliminamos 'Part 1-2' ya que su correlación es muy baja y no aporta mucha información. comprobar!!!!!! head tampoco nos deja 
dataset4 = dataset3.drop('Part 1-2', axis=1, inplace=True)
print(dataset4)

In [ ]:
# Calcula la matriz de correlación
correlation_matrix = dataset3.corr()

# Crea un mapa de correlación utilizando Seaborn
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', center=0)
plt.title('Mapa de Correlación')
plt.show()

In [ ]:
#Comprobar normalidad
import plotly.express as px
# Histograma de calificación del productor
fig = px.histogram(dataset3, x= "nivel_gravedad") 
fig.show()
#Por ahora la dejamos en continua.

In [ ]:
from ydata_profiling import ProfileReport
profile = ProfileReport(dataset3, title='Profiling Report')
profile